<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    
     <!-- Header -->
     <%= render "layouts/shared/header" %>
     
      <!-- Favicon-->
    <%= favicon_link_tag asset_path('ActionIco.jpg') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-gray-100">
    <%= yield %>

     <!-- Footer -->
     <%= render "layouts/shared/footer" %>
  </body>
</html>
